dash==2.10.2
dash_bootstrap_components==1.4.2
itsdangerous==2.0.1
matplotlib>=3.5.2
numpy>=1.22
pandas==1.4.4
pdfplumber==0.7.1
pydicom==2.2.2
PyQt5>=5.12.3
PyYAML==6.0
scikit_image==0.19.2
scipy>=1.10.0
waitress==2.1.2
werkzeug=>2.3.8